.bundle
tmp/bundler
tmp/*
*/log/*.log
*/tmp/*
*/public/tmp
*/public/system
*/sqlnet.log
*/config/database.yml
*/db/*.sqlite3
*/bin
*.DS_Store
coverage/*
*.swp
*~
rerun.txt
tags
!.keep
.rvmrc
database.yml
